@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4gg0sa');
  src:  url('fonts/icomoon.eot?4gg0sa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4gg0sa') format('truetype'),
    url('fonts/icomoon.woff?4gg0sa') format('woff'),
    url('fonts/icomoon.svg?4gg0sa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-double-left:before {
  content: "\e90c";
}
.icon-chevron-double-right:before {
  content: "\e90d";
}
.icon-chevron-left:before {
  content: "\e90e";
}
.icon-chevron-right:before {
  content: "\e90f";
}
.icon-long-arrow-left:before {
  content: "\e928";
}
